body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f1f1f1;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

/* deixa a frase centralizada na tela */
#mensagemFinal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

